* {
  font-family: "CaskaydiaMono Nerd Font";
  color: #ebdbb2;
  font-size: 16px;
}

window#waybar {
  background: transparent;
  border: none;
}

#workspaces {
  background-color: #282828;
  padding: 0 10px;
  border: 2px solid #a89984;
}

#workspaces button.focused {
  background-color: #665c54;
}

#workspaces button.urgent {
  background-color: #fb4934;
}

#window {
  background-color: #282828;
  padding: 0 15px;
  border: 2px solid #a89984;
}

#tray {
  background-color: #282828;
  border: 2px solid #a89984;
  padding: 0 15px;
  margin-left: 10px;
}

#clock {
  border: 2px solid #a89984;
  margin-left: 10px;
  padding: 0 10px;
}

#memory,
#cpu,
#temperature {
  background-color: #282828;
  border: 2px solid #a89984;
  padding: 0 10px;
}

#temperature,
#cpu {
  border-left: none;
  border-right: none;
}

#memory {
  border-right: none;
}

#battery {
  background-color: #282828;
  border: 2px solid #a89984;
  border-left: none;
  padding: 0 10px;
}
