* {
  font-family: "CaskaydiaMono Nerd Font";
  color: #ebdbb2;
  font-size: 14px;
}

window#waybar {
  background: transparent;
  border: none;
}

#workspaces {
  background-color: #282828;
  /* padding: 0 10px; */
  /* border: 2px solid #665C54; */
}

#workspaces button {
  border-radius: 0;
}

#workspaces button.active {
  background-color: #3c3836;
}

#workspaces button.empty {
  color: #a89984;
}

#workspaces button.urgent {
  background-color: #fb4934;
}

#window {
  background-color: #282828;
  padding: 0 10px;
  /* border: 2px solid #665C54; */
}

#tray {
  background-color: #282828;
  /* border: 2px solid #665C54; */
  /* padding: 0 15px; */
  margin-left: 20px;
}

#memory,
#cpu,
#network,
#temperature,
#backlight,
#battery,
#clock {
  background-color: #282828;
  /* border: 2px solid #665C54; */
  /* padding: 0 10px; */
}

#memory {
  padding-left: 10px;
}

#clock {
  padding-right: 10px;
}

#custom-start {
  font-size: 0;
  border-top: 40px solid transparent;
  border-right: 20px solid #282828;
  margin-right: 10px;
}

#custom-end {
  font-size: 0;
  border-top: 40px solid #282828;
  border-right: 20px solid transparent;
  margin-left: 10px;
}
